.App {
  text-align: center;
  background-image: url(./images/fondo_palmeras.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 260vh;
  width: 100%;
}

